$blue:   #005dac;
$ltblue: #006cc7;
$green:  #b3c022;
$orange: #f99f38;

$small:  640px;
$medium: 960px;
$large:  1280px;

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,700');
@import 'normalize';
@import 'modal';

body, html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100%;
    width: 100%;
}
.section {
    text-align: center;
    padding: 60px 15px;
    background-color: $ltblue;
}
.section__headline {
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 1em;
    letter-spacing: 1px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
}
.blurb {
    max-width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
    color: #fff;
    font-size: 1.25em;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.subhead {
    color: #fff;
    font-weight: 700;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.button {
    display: inline-block;
    margin: 20px auto;
    padding: 20px 60px;
    background: $blue;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    z-index: 3;
}
.nav {
    height: 85px;
    padding: 10px;
    z-index: 10;
    background: $blue;
    text-align: left;
    @media (min-width: $large) {
        height: 150px;
    }
}
.nav__logo {
    float: left;
    width: 35%;
    max-height: 80px;
    @media (min-width: $small) {
        width: 15%;
    }
    @media (min-width: $large) {
        margin: 0 0 0 12%;
        padding: 20px 0;
        max-height: 110px;
    }
}
.nav__donate-button {
    float: right;
    margin: 0 4%;
    padding: 15px 30px;
    font-size: .85em;
    text-decoration: none;
    font-weight: 700;
    border: 1px solid #fff;
    background: $green;   
    transition: background .25s;
    @media (min-width: $large) {
        margin: 30px 16% 0 0;
        font-size: 1em;
    }
}
.nav__donate-button:hover {
    background: $orange;
}
.nav__blurb {
    display: none;
    @media (min-width: 780px) {
        display: inline;
    }
    @media (min-width: $small) {
        float: left;
        margin: 20px 0 0 10px;
        padding: 0;
        font-weight: 700;
        font-size: 1em;
    }
    @media (min-width: $large) {
        margin: 40px auto 0;
        font-size: 1.5em;
    }    
}
.nav__blurb--small {
    font-size: .9em;
    text-transform: uppercase;
    position: relative;
}
.header {
    background: $green;
}
.header__play-logo {
    display: block;
    margin: 25% auto;
    width: 100%;
    max-width: 500px;
    @media (min-width: $medium) {
        margin: 150px auto;
    }
}
.header__video-buttons {
   margin-bottom: 30px;
}
.header__button  {
    border: 1px solid #fff;
    margin: 15px 3%;
    &:hover {
        background: $orange;
        transition: background .25s;
    }
    span {
        display: inline-block;
        width: auto;
        font-size: 1.1em;
        font-weight: 700;
    }
}
#video {
    //background: $blue;
    //z-index: -2;
   .header {
      background:rgba(0,0,0,0.2);
      min-height:55vh
   }
}
.section__headline--video {
    font-size: 2em;
    letter-spacing: 2px;
    padding: 30px;
    margin: 0;
}
.videos__list {}
.videos__list-item {
    display: inline-block;
    margin-bottom: 60px;
    @media (min-width: $medium) {
        width: 33%;
    } 
}
 .videos__video {
    height: auto;
    width: 100%;
    max-width: 1280px;
}
.section--facts {
    .section__headline {
        padding-top: 50px;   
    }
}
.facts__list, .why__list {
    max-width: 960px;
    margin: 0 auto;
    font-size: 0;
}
.facts__list-item, .why__list-item  {
    display: inline-block;
    min-height: 175px;
    padding: 85px 1.5% 0;    
    margin: 1.5%;    
    vertical-align: top;
    font-size: 1rem;
    border-radius: 10px;
    background: url('../img/trophy.svg') no-repeat 50% 30px;
    background-size: 75px;
    @media (min-width: $medium) {
        width: 27%;
    }     
}
.fact--physical {
    background-image: url('../img/facts/icon_physical.svg');
}
.fact--reding {
    background-image: url('../img/facts/icon_reading.svg');
}
.fact--social {
 background-image: url('../img/facts/icon_social.svg');    
}
.fact--vocab {
    background-image: url('../img/facts/icon_vocabulary.svg');
}
.fact--creativity {
    background-image: url('../img/facts/icon_creativity.svg');
}
.fact--confidence {
    background-image: url('../img/facts/icon_confidence.svg');
}
.fact__blurb, .why__blurb {
    max-width: 320px;
    font-size: 1.1rem;
}
.section--why {
    background: $green; 
}
.icon--play-plaza {
   background-image: url('../img/why/icon_play-plaza.svg');
}
.icon--water-wonders {
   background-image: url('../img/why/icon_water-wonders.svg');
}
.icon--tech-center {
   background-image:url('../img/why/icon_tech-center.svg');
}

.footer__donate-button {
   background: $orange;
   font-weight: 700;
}
.footer__social-icons {
    list-style-type: none;
    margin: 15px auto;
    padding: 0;
}
.footer__social-icon {
    display: inline-block;
    width: 25px;
    padding: 10px;
}
.footer__blurb {
    padding: 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: .85em;
}

.fixed {
  position:fixed;
  width: 100%;
  margin-top: 0;
  top:0;
}
