@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
/* line 12, ../../sass/main.scss */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: padding-box;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

/* line 20, ../../sass/main.scss */
.section {
  text-align: center;
  padding: 60px 15px;
  background-color: #006cc7;
}

/* line 25, ../../sass/main.scss */
.section__headline {
  color: #fff;
  text-align: center;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: 1px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}

/* line 35, ../../sass/main.scss */
.blurb {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
  color: #fff;
  font-size: 1.25em;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 45, ../../sass/main.scss */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 50, ../../sass/main.scss */
.subhead {
  color: #fff;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 57, ../../sass/main.scss */
.button {
  display: inline-block;
  margin: 20px auto;
  padding: 20px 60px;
  background: #005dac;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

/* line 68, ../../sass/main.scss */
.nav {
  height: 85px;
  padding: 10px;
  z-index: 10;
  background: #005dac;
  text-align: left;
}
@media (min-width: 1280px) {
  /* line 68, ../../sass/main.scss */
  .nav {
    height: 150px;
  }
}

/* line 78, ../../sass/main.scss */
.nav__logo {
  float: left;
  width: 35%;
  max-height: 80px;
}
@media (min-width: 640px) {
  /* line 78, ../../sass/main.scss */
  .nav__logo {
    width: 25%;
  }
}
@media (min-width: 1280px) {
  /* line 78, ../../sass/main.scss */
  .nav__logo {
    margin: 0 0 0 10%;
    padding: 20px 0;
    max-height: 110px;
  }
}

/* line 91, ../../sass/main.scss */
.nav__donate-button {
  float: right;
  margin: 0 4%;
  padding: 15px 30px;
  font-size: .85em;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #fff;
  background: #b3c022;
  transition: background .25s;
}
@media (min-width: 1280px) {
  /* line 91, ../../sass/main.scss */
  .nav__donate-button {
    margin: 30px 10% 0 0;
    font-size: 1em;
  }
}

/* line 106, ../../sass/main.scss */
.nav__donate-button:hover {
  background: #f99f38;
}

/* line 109, ../../sass/main.scss */
.nav__blurb {
  display: none;
}
@media (min-width: 780px) {
  /* line 109, ../../sass/main.scss */
  .nav__blurb {
    display: inline;
  }
}
@media (min-width: 640px) {
  /* line 109, ../../sass/main.scss */
  .nav__blurb {
    float: left;
    margin: 20px 0 0 10px;
    padding: 0;
    font-weight: 700;
    font-size: 1em;
  }
}
@media (min-width: 1280px) {
  /* line 109, ../../sass/main.scss */
  .nav__blurb {
    margin: 40px auto 0;
    font-size: 1.5em;
  }
}

/* line 126, ../../sass/main.scss */
.nav__blurb--small {
  font-size: .9em;
  text-transform: uppercase;
  position: relative;
}

/* line 131, ../../sass/main.scss */
.header {
  background: #b3c022;
}

/* line 134, ../../sass/main.scss */
.header__play-logo {
  display: block;
  margin: 25% auto;
  width: 100%;
  max-width: 500px;
}
@media (min-width: 960px) {
  /* line 134, ../../sass/main.scss */
  .header__play-logo {
    margin: 250px auto;
  }
}

/* line 143, ../../sass/main.scss */
.header__button {
  background: none;
  border: 1px solid #fff;
  width: 60%;
  max-width: 200px;
  margin: 15px 3%;
}
/* line 149, ../../sass/main.scss */
.header__button:hover {
  background: #005dac;
}
/* line 152, ../../sass/main.scss */
.header__button span {
  display: inline-block;
  width: auto;
  font-size: 1.1em;
  font-weight: 700;
}

/* line 159, ../../sass/main.scss */
#video {
  background: #005dac;
  z-index: -2;
}

/* line 163, ../../sass/main.scss */
.section__headline--video {
  font-size: 2em;
  letter-spacing: 2px;
  padding: 30px;
  margin: 0;
}

/* line 170, ../../sass/main.scss */
.videos__list-item {
  display: inline-block;
  margin-bottom: 60px;
}
@media (min-width: 960px) {
  /* line 170, ../../sass/main.scss */
  .videos__list-item {
    width: 33%;
  }
}

/* line 177, ../../sass/main.scss */
.videos__video {
  height: auto;
  width: 95%;
  max-width: 1280px;
}

/* line 183, ../../sass/main.scss */
.section--facts .section__headline {
  padding-top: 50px;
}

/* line 187, ../../sass/main.scss */
.facts__list, .why__list {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0;
}

/* line 192, ../../sass/main.scss */
.facts__list-item, .why__list-item {
  display: inline-block;
  min-height: 175px;
  padding: 85px 1.5% 0;
  margin: 1.5%;
  vertical-align: top;
  font-size: 1rem;
  border-radius: 10px;
  background: url("../img/trophy.svg") no-repeat 50% 30px;
  background-size: 75px;
}
@media (min-width: 960px) {
  /* line 192, ../../sass/main.scss */
  .facts__list-item, .why__list-item {
    width: 27%;
  }
}

/* line 206, ../../sass/main.scss */
.fact--physical {
  background-image: url("../img/facts/icon_physical.svg");
}

/* line 209, ../../sass/main.scss */
.fact--reding {
  background-image: url("    ../img/facts/icon_reading.svg");
}

/* line 212, ../../sass/main.scss */
.fact--social {
  background-image: url("../img/facts/icon_social.svg");
}

/* line 215, ../../sass/main.scss */
.fact--vocab {
  background-image: url("../img/facts/icon_vocabulary.svg");
}

/* line 218, ../../sass/main.scss */
.fact--creativity {
  background-image: url("../img/facts/icon_creativity.svg");
}

/* line 221, ../../sass/main.scss */
.fact--confidence {
  background-image: url("../img/facts/icon_confidence.svg");
}

/* line 227, ../../sass/main.scss */
.fact__blurb, .why__blurb {
  max-width: 320px;
  font-size: 1.1rem;
}

/* line 231, ../../sass/main.scss */
.section--why {
  background: #b3c022;
}

/* line 241, ../../sass/main.scss */
.donate__form {
  max-width: 960px;
  font-size: 0;
  margin: 0 auto;
}

/* line 246, ../../sass/main.scss */
.donate__label {
  display: inline-block;
  width: 90%;
  margin: 0 0 15px 0;
  text-align: left;
  vertical-align: top;
  color: #fff;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  font-size: .7rem;
  letter-spacing: .05em;
  text-transform: uppercase;
}
@media (min-width: 640px) {
  /* line 246, ../../sass/main.scss */
  .donate__label {
    width: 43%;
    margin: 0 3% 15px 3%;
  }
}
@media (min-width: 960px) {
  /* line 246, ../../sass/main.scss */
  .donate__label {
    width: 27%;
  }
}

/* line 266, ../../sass/main.scss */
.donate__input {
  display: block;
  height: 30px;
  width: 96%;
  margin-top: 5px;
  padding: 5px;
  font-size: 1.25rem;
  font-family: 'Nunito Sans', sans-serif;
}

@media (max-width: 960px) {
  /* line 275, ../../sass/main.scss */
  .label--exp, .label--cvc {
    width: 44%;
  }
}

/* line 280, ../../sass/main.scss */
.input--expmonth, .input--expyear {
  width: 60px;
  margin-right: 5px;
  display: inline;
}

/* line 285, ../../sass/main.scss */
.input--expyear, .input--cvc {
  width: 80px;
  margin-right: 15px;
}

/* line 289, ../../sass/main.scss */
.donate__submit-button {
  width: 90%;
  border: 0;
  font-weight: 700;
  letter-spacing: 2px;
  background: #f99f38;
}
@media (min-width: 640px) {
  /* line 289, ../../sass/main.scss */
  .donate__submit-button {
    width: 27%;
  }
}

/* line 300, ../../sass/main.scss */
.thanks__blurb {
  padding-top: 150px;
  background: url(../img/trophy.svg) no-repeat 50% 0;
  background-size: 125px;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

/* line 307, ../../sass/main.scss */
.footer__social-icons {
  list-style-type: none;
  margin: 15px auto;
  padding: 0;
}

/* line 312, ../../sass/main.scss */
.footer__social-icon {
  display: inline-block;
  width: 25px;
  padding: 10px;
}

/* line 317, ../../sass/main.scss */
.footer__blurb {
  padding: 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .85em;
}

/* line 324, ../../sass/main.scss */
.fixed {
  position: fixed;
  width: 100%;
  margin-top: 0;
  top: 0;
}
