@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");
/* line 1, ../../sass/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 1, ../../sass/_normalize.scss */
audio, canvas, video {
  display: inline-block;
}

/* line 1, ../../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 1, ../../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* line 1, ../../sass/_normalize.scss */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 1, ../../sass/_normalize.scss */
body {
  margin: 0;
}

/* line 1, ../../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 1, ../../sass/_normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 1, ../../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 1, ../../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 1, ../../sass/_normalize.scss */
b, strong {
  font-weight: bold;
}

/* line 1, ../../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 1, ../../sass/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 1, ../../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 1, ../../sass/_normalize.scss */
code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

/* line 1, ../../sass/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/* line 1, ../../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 1, ../../sass/_normalize.scss */
small {
  font-size: 80%;
}

/* line 1, ../../sass/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 1, ../../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 1, ../../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 1, ../../sass/_normalize.scss */
img {
  border: 0;
}

/* line 1, ../../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 1, ../../sass/_normalize.scss */
figure {
  margin: 0;
}

/* line 1, ../../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 1, ../../sass/_normalize.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 1, ../../sass/_normalize.scss */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 1, ../../sass/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 1, ../../sass/_normalize.scss */
button, select {
  text-transform: none;
}

/* line 1, ../../sass/_normalize.scss */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 1, ../../sass/_normalize.scss */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 1, ../../sass/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 1, ../../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 1, ../../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 1, ../../sass/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 1, ../../sass/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 1, ../../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Morph Button: Default Styles */
/* line 3, ../../sass/_modal.scss */
.morph-button {
  position: relative;
  display: block;
}

/* line 8, ../../sass/_modal.scss */
.morph-button > button {
  position: relative;
  padding: 0;
  background-color: #005dac;
  color: #f9f6e5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 17, ../../sass/_modal.scss */
.morph-button.open > button {
  pointer-events: none;
}

/* line 21, ../../sass/_modal.scss */
.morph-content {
  pointer-events: none;
}

/* line 25, ../../sass/_modal.scss */
.morph-button.open .morph-content {
  pointer-events: auto;
}

/* Common styles for overlay and modal type (fixed morph) */
/* line 30, ../../sass/_modal.scss */
.morph-button-fixed {
  margin: 15px;
}

/* line 33, ../../sass/_modal.scss */
.morph-button-fixed,
.morph-button-fixed .morph-content {
  width: 300px;
  height: 80px;
}

/* line 40, ../../sass/_modal.scss */
.morph-button-fixed > button {
  z-index: 1000;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.1s 0.5s;
  transition: opacity 0.1s 0.5s;
}

/* line 48, ../../sass/_modal.scss */
.morph-button-fixed.open > button {
  opacity: 0;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}

/* line 54, ../../sass/_modal.scss */
.morph-button-fixed .morph-content {
  position: fixed;
  z-index: 900;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* line 62, ../../sass/_modal.scss */
.morph-button-fixed.open .morph-content {
  opacity: 1;
}

/* line 66, ../../sass/_modal.scss */
.morph-button-fixed .morph-content > div {
  visibility: hidden;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
  transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

/* line 74, ../../sass/_modal.scss */
.morph-button-fixed.open .morph-content > div {
  visibility: visible;
  height: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

/* line 82, ../../sass/_modal.scss */
.morph-button-fixed.active > button {
  z-index: 2000;
}

/* line 86, ../../sass/_modal.scss */
.morph-button-fixed.active .morph-content {
  z-index: 1900;
}

/* Transitions for overlay button */
/* line 91, ../../sass/_modal.scss */
.morph-button-overlay .morph-content {
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

/* line 96, ../../sass/_modal.scss */
.morph-button-overlay.open .morph-content {
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
}

/* Morph Button Style: Overlay */
/* line 102, ../../sass/_modal.scss */
.morph-button.morph-button-overlay {
  margin: 50px auto;
}

/* line 106, ../../sass/_modal.scss */
.morph-button-overlay .morph-content {
  overflow: hidden;
  background: #000;
}

/* line 111, ../../sass/_modal.scss */
.morph-button-overlay.open .morph-content {
  top: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
}

/* Morph Button Style: Modal */
/* line 119, ../../sass/_modal.scss */
.morph-button-modal::before {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 800;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  pointer-events: none;
}

/* line 134, ../../sass/_modal.scss */
.morph-button-modal.open::before {
  opacity: 1;
  pointer-events: auto;
}

/* line 139, ../../sass/_modal.scss */
.morph-button-modal.active::before {
  z-index: 1800;
}

/* line 143, ../../sass/_modal.scss */
.morph-button-modal .morph-content {
  overflow: hidden;
  -webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* line 149, ../../sass/_modal.scss */
.morph-button-modal.open .morph-content {
  top: 50% !important;
  left: 50% !important;
  margin: -210px 0 0 -300px;
  width: 600px;
  height: 420px;
  -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
  transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Colors and sizes for individual modals */
/* line 161, ../../sass/_modal.scss */
.morph-button-modal-4 {
  display: inline-block;
}

/* line 165, ../../sass/_modal.scss */
.morph-button-modal-4 > button,
.morph-button-modal-4 .morph-content {
  background-color: #005dac;
  color: #fff;
}

/* line 171, ../../sass/_modal.scss */
.morph-button-modal-4 .morph-clone {
  position: absolute;
  right: 34px;
  bottom: 30px;
  z-index: 100;
  letter-spacing: 1px;
  font-weight: 700;
  -webkit-transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
  transition: bottom 0.4s 0.1s, right 0.4s 0.1s;
}

/* line 182, ../../sass/_modal.scss */
.morph-button-modal-4.open .morph-clone,
.no-js .morph-button-modal-4 .morph-clone {
  right: 10px;
  bottom: 10px;
}

/* line 188, ../../sass/_modal.scss */
.morph-button-modal-4.open .morph-content {
  margin: -360px 0 0 -640px;
  width: 1280px;
  height: 720px;
}

/* Let's add some nice easing for all cases */
/* line 195, ../../sass/_modal.scss */
.morph-button .morph-content,
.morph-button.open .morph-content,
.morph-button-modal-4 .morph-clone {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

/* Helper classes */
/* line 203, ../../sass/_modal.scss */
.noscroll {
  overflow: hidden;
}

/* No JS fallback: let's hide the button and show the content */
/* line 208, ../../sass/_modal.scss */
.no-js .morph-button > button {
  display: none;
}

/* line 212, ../../sass/_modal.scss */
.no-js .morph-button {
  margin: 10px 0;
  float: none;
}

/* line 217, ../../sass/_modal.scss */
.no-js .morph-button,
.no-js .morph-button .morph-content,
.no-js .morph-button .morph-content > div {
  position: relative;
  width: auto;
  height: auto;
  opacity: 1;
  visibility: visible;
  top: auto;
  left: auto;
  -webkit-transform: none;
  transform: none;
  pointer-events: auto;
}

/* line 232, ../../sass/_modal.scss */
.no-js .morph-button .morph-content .icon-close {
  display: none;
}

/* line 236, ../../sass/_modal.scss */
.no-js .morph-button-sidebar {
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  overflow: auto;
}

/* line 246, ../../sass/_modal.scss */
.no-transition {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Media Queries */
@media screen and (max-width: 1280px) {
  /* line 254, ../../sass/_modal.scss */
  .morph-button-modal.open .morph-content {
    top: 0% !important;
    left: 0% !important;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
    transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s;
  }
}
@media screen and (max-width: 400px) {
  /* line 267, ../../sass/_modal.scss */
  .morph-button-fixed,
  .morph-button-fixed .morph-content {
    width: 200px;
    height: 100px;
  }

  /* line 273, ../../sass/_modal.scss */
  .morph-button-fixed > button {
    font-size: 75%;
  }

  /* line 277, ../../sass/_modal.scss */
  .morph-button-modal-4,
  .morph-button-modal-4 .morph-content {
    width: 220px;
    height: 120px;
  }

  /* line 283, ../../sass/_modal.scss */
  .morph-button-modal-4 > button {
    font-size: 100%;
    line-height: 50px;
  }

  /* line 288, ../../sass/_modal.scss */
  .morph-button-modal-4 > button span {
    display: block;
  }

  /* line 292, ../../sass/_modal.scss */
  .morph-button-modal-4 .morph-clone {
    right: 83px;
    bottom: 26px;
  }
}
/* ICONS */
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg") format("svg");
}
/* line 312, ../../sass/_modal.scss */
.icon-close {
  z-index: 100;
  display: block;
  overflow: hidden;
  width: 3em;
  height: 3em;
  text-align: center;
  line-height: 3;
  cursor: pointer;
  background: #005dac;
}
/* line 322, ../../sass/_modal.scss */
.icon-close:hover {
  background: #f99f38;
  transition: background .25s;
}

/* line 328, ../../sass/_modal.scss */
.icon:before {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 343, ../../sass/_modal.scss */
.icon-close::before {
  content: "\e601";
}

/* line 347, ../../sass/_modal.scss */
.icon-close {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* line 14, ../../sass/main.scss */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

/* line 21, ../../sass/main.scss */
.section {
  text-align: center;
  padding: 60px 15px;
  background-color: #006cc7;
}

/* line 26, ../../sass/main.scss */
.section__headline {
  color: #fff;
  text-align: center;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: 1px;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 700;
  padding-bottom: 30px;
}

/* line 36, ../../sass/main.scss */
.blurb {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
  color: #fff;
  font-size: 1.25em;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 46, ../../sass/main.scss */
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* line 51, ../../sass/main.scss */
.subhead {
  color: #fff;
  font-weight: 700;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* line 58, ../../sass/main.scss */
.button {
  display: inline-block;
  margin: 20px auto;
  padding: 20px 60px;
  background: #005dac;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 3;
}

/* line 70, ../../sass/main.scss */
.nav {
  height: 85px;
  padding: 10px;
  z-index: 10;
  background: #005dac;
  text-align: left;
}

/* line 77, ../../sass/main.scss */
.nav__logo {
  float: left;
  width: 35%;
  height: 80px;
}
@media (min-width: 640px) {
  /* line 77, ../../sass/main.scss */
  .nav__logo {
    width: 15;
  }
}

/* line 85, ../../sass/main.scss */
.nav__donate-button {
  float: right;
  margin: 0 4%;
  padding: 15px 30px;
  font-size: .85em;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid #fff;
  background: #b3c022;
  transition: background .25s;
}

/* line 96, ../../sass/main.scss */
.nav__donate-button:hover {
  background: #f99f38;
}

/* line 99, ../../sass/main.scss */
.nav__blurb {
  display: none;
}
@media (min-width: 780px) {
  /* line 99, ../../sass/main.scss */
  .nav__blurb {
    display: inline;
  }
}
@media (min-width: 640px) {
  /* line 99, ../../sass/main.scss */
  .nav__blurb {
    float: left;
    margin: 20px 0 0 10px;
    padding: 0;
    font-weight: 700;
    font-size: 1em;
  }
}
@media (min-width: 1280px) {
  /* line 99, ../../sass/main.scss */
  .nav__blurb {
    margin: 40px auto 0;
    font-size: 1.5em;
  }
}

/* line 116, ../../sass/main.scss */
.nav__blurb--small {
  font-size: .9em;
  text-transform: uppercase;
  position: relative;
}

/* line 121, ../../sass/main.scss */
.section--birthday {
  background: url(../img/slider/cooking-class.jpg);
}
@media (max-width: 640px) {
  /* line 121, ../../sass/main.scss */
  .section--birthday {
    padding: 0;
    margin: 0;
  }
}

@keyframes bgbox {
  0% {
    background: url(../img/slider/cooking-class.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  25% {
    background: url(../img/slider/soccer-ball.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  50% {
    background: url(../img/slider/soccer-ball.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  75% {
    background: url(../img/slider/cooking-class.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  100% {
    background: url(../img/slider/cooking-class.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/* line 156, ../../sass/main.scss */
.section--birthday {
  animation: bgbox 10s infinite ease-in-out;
}

/* line 161, ../../sass/main.scss */
.birthday__overlay {
  margin: 0 auto;
  padding: 30px;
  background: rgba(0, 93, 172, 0.8);
}
@media (min-width: 640px) {
  /* line 161, ../../sass/main.scss */
  .birthday__overlay {
    width: 50%;
    max-width: 600px;
  }
}
@media (min-width: 960px) {
  /* line 161, ../../sass/main.scss */
  .birthday__overlay {
    margin: 100px auto;
  }
}
@media (min-width: 1280px) {
  /* line 161, ../../sass/main.scss */
  .birthday__overlay {
    margin: 125px auto;
  }
}

/* line 176, ../../sass/main.scss */
.birthday__cake {
  max-width: 150px;
  max-height: 250px;
}

/* line 180, ../../sass/main.scss */
.birthday__blurb {
  padding: 15px;
  font-size: 1.5em;
  font-weight: 700;
}

/* line 185, ../../sass/main.scss */
.birthday__donate-button {
  background: #b3c022;
  transition: background .25s;
  font-weight: 700;
}
/* line 189, ../../sass/main.scss */
.birthday__donate-button:hover {
  background: #f99f38;
}

/* line 193, ../../sass/main.scss */
.header {
  background: #b3c022;
}

/* line 196, ../../sass/main.scss */
.header__play-logo {
  display: block;
  margin: 25% auto;
  width: 100%;
  max-width: 500px;
}
@media (min-width: 960px) {
  /* line 196, ../../sass/main.scss */
  .header__play-logo {
    margin: 150px auto;
  }
}

/* line 205, ../../sass/main.scss */
.header__video-buttons {
  margin-bottom: 30px;
}

/* line 208, ../../sass/main.scss */
.header__button {
  border: 1px solid #fff;
  margin: 15px 3%;
}
/* line 211, ../../sass/main.scss */
.header__button:hover {
  background: #f99f38;
  transition: background .25s;
}
/* line 215, ../../sass/main.scss */
.header__button span {
  display: inline-block;
  width: auto;
  font-size: 1.1em;
  font-weight: 700;
}

/* line 225, ../../sass/main.scss */
#video .header {
  background: rgba(0, 0, 0, 0.2);
  min-height: 55vh;
}

/* line 230, ../../sass/main.scss */
.section__headline--video {
  font-size: 2em;
  letter-spacing: 2px;
  padding: 30px;
  margin: 0;
}

/* line 237, ../../sass/main.scss */
.videos__list-item {
  display: inline-block;
  margin-bottom: 60px;
}
@media (min-width: 960px) {
  /* line 237, ../../sass/main.scss */
  .videos__list-item {
    width: 33%;
  }
}

/* line 244, ../../sass/main.scss */
.videos__video {
  width: 100%;
  max-width: 1280px;
  max-height: 100vh;
}

/* line 250, ../../sass/main.scss */
.section--facts {
  background: #006cc7;
}
/* line 252, ../../sass/main.scss */
.section--facts .section__headline {
  padding-top: 50px;
}

/* line 256, ../../sass/main.scss */
.facts__list, .why__list {
  max-width: 960px;
  margin: 0 auto;
  font-size: 0;
}

/* line 261, ../../sass/main.scss */
.facts__list-item, .why__list-item {
  display: inline-block;
  min-height: 175px;
  padding: 85px 1.5% 0;
  margin: 1.5%;
  vertical-align: top;
  font-size: 1rem;
  border-radius: 10px;
  background: url("../img/trophy.svg") no-repeat 50% 30px;
  background-size: 75px;
}
@media (min-width: 960px) {
  /* line 261, ../../sass/main.scss */
  .facts__list-item, .why__list-item {
    width: 27%;
  }
}

/* line 275, ../../sass/main.scss */
.fact--physical {
  background-image: url("../img/facts/icon_physical.svg");
}

/* line 278, ../../sass/main.scss */
.fact--reding {
  background-image: url("../img/facts/icon_reading.svg");
}

/* line 281, ../../sass/main.scss */
.fact--social {
  background-image: url("../img/facts/icon_social.svg");
}

/* line 284, ../../sass/main.scss */
.fact--vocab {
  background-image: url("../img/facts/icon_vocabulary.svg");
}

/* line 287, ../../sass/main.scss */
.fact--creativity {
  background-image: url("../img/facts/icon_creativity.svg");
}

/* line 290, ../../sass/main.scss */
.fact--confidence {
  background-image: url("../img/facts/icon_confidence.svg");
}

/* line 293, ../../sass/main.scss */
.fact__blurb, .why__blurb {
  max-width: 320px;
  font-size: 1.1rem;
}

/* line 297, ../../sass/main.scss */
.section--why {
  background: #b3c022;
}

/* line 300, ../../sass/main.scss */
.icon--play-plaza {
  background-image: url("../img/why/icon_play-plaza.svg");
}

/* line 303, ../../sass/main.scss */
.icon--water-wonders {
  background-image: url("../img/why/icon_water-wonders.svg");
}

/* line 306, ../../sass/main.scss */
.icon--tech-center {
  background-image: url("../img/why/icon_tech-center.svg");
}

/* line 309, ../../sass/main.scss */
.footer {
  background: #005dac;
}

/* line 312, ../../sass/main.scss */
.footer__donate-button {
  background: #f99f38;
  font-weight: 700;
}

/* line 316, ../../sass/main.scss */
.footer__social-icons {
  list-style-type: none;
  margin: 15px auto;
  padding: 0;
}

/* line 321, ../../sass/main.scss */
.footer__social-icon {
  display: inline-block;
  width: 25px;
  padding: 10px;
}

/* line 326, ../../sass/main.scss */
.footer__blurb {
  padding: 0;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .85em;
}

/* line 333, ../../sass/main.scss */
.fixed {
  position: fixed;
  width: 100%;
  margin-top: 0;
  top: 0;
}
